class {
  onInput(input) {
    const colors = input.colors;

    this.state = {
      selectedColor: colors[0],
      colors,
    };
  }

  handleColorSelected(color) {
    this.state.selectedColor = color;
  }
}

<div style={ marginBottom: "30px" }>
  <color-picker-header color=state.selectedColor/>
  <color-picker-footer
    colors=state.colors
    on-color-selected("handleColorSelected")
  />
</div>
